<div class="container">
    <h1 style="margin: auto">Patients</h1>
    <div class="row">
      <div class="col-sm">
        <h3>All Patients</h3>
        <% @patients.sort_by_name.each do |d|%>
          <ul>
            <li><%= link_to d.full_name, patient_path(d) %></li>
          </ul>
        <% end%>
      </div>
      <div class="col-sm">
        <h3>All Appointments</h3>

        <%# @doctor.appointments.each do |a|%>
        <ul>
          <li><%# a %></li>
        </ul>
        <%# end%>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>